.Game {
    text-align: center;
}

.Game h1 {
    font-size: 5rem;
    margin-top: 8vh;
}

.Game .cells {
    width: 75px;
    height: 75px;
    background-color: wheat;
    border-radius: 10px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color: black;
    
    outline: 2px solid rgb(36, 38, 34);

}

.Game .board-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 10px;
    gap: 10px;
    width: 225px;
    margin: auto;
    background-color: rgb(255, 255, 238);
    padding: 25px;
    border-radius: 10px;
    outline: 2px solid rgb(36, 38, 34);
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}

.Game .status {
    padding: 10px 15px 10px;
    background-color: rgb(255, 255, 238);
    width: fit-content;
    color: rgb(36, 38, 34);
    margin: auto;
    margin-top: 1vh;
    outline: 2px solid rgb(36, 38, 34);
    border-radius: 10px;
}

.Game .button {
    margin-top: 3vh;
}

.End {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.End .navigation {
    display: flex;
    gap: 5vh;
}

.Game .title {
    display: flex;
    justify-content: center;
}

.Game .title .text {
    font-size: calc(1rem + 5vw);
    margin: 8vh 0vw 0px;
    cursor: default;
    transition: 0.3s ease;
}

.Game .title .text:hover {
    color: #FFF67E;
    transform: scale(1.3);
    margin: 8vh 3vw 0px;
}