.Menu {
    text-align: center;
}

.Menu h1 {
    font-size: 5rem;
    margin-top: 8vh;
}

.Menu .button {
    margin-top: 5vh;
}

.Menu #Start .top,.Menu #Start .bottom {
    background-color: #90D26D;
}