:root {
  --background: rgb(83, 143, 55);
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Lilita One';
  src: url('./assets/fonts/Lilita_One/LilitaOne-Regular.ttf');
}

@font-face {
  font-family: "Nunito";
  src: url('./assets/fonts/Nunito/static/Nunito-Black.ttf');
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf');
}

body {
  background-color: var(--background);
  width: 100%;
  font-family: 'Nunito', 'Lilita One','Poppins' ;
  color: aliceblue;
}